{% load bootstrap4 %} 
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Post</title>
  {{form.media}}
{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="#"> {% endblock %}
</head>
<body style=" background-image: url('https://res.cloudinary.com/auca/image/upload/v1612209146/hood2_ne0tpa.png'); background-repeat: no-repeat;background-size: cover;">
  <div class="card col-md-8" style="margin-top: 150px; margin-left: 190px;">
    <div class="panel-heading">
      <h1 class="text-center" style="font-weight: bold;"><span style="color: #03989E;">POST</span> <span style="color: #545454;">FORM</span></h1>
    </div>
  <form  action="{%url 'new_post' neighborhood.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {% bootstrap_form form%}
    <input type="submit" class="btn  btn-outline-info btn-lg" value="Post">
  </form>
</div>
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</body>
</html>